body{
    background-color: rgb(247, 243, 243);


}
.nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    /* margin: auto; */
}
.logo_name{
    display: flex;
    /* margin: auto; */
    font-size: 22px;
}
.btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: 20px;
    font-size: 15px;
}
.btn:hover{
     box-shadow: 5px 5px 5px green;
}
.head{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: rgb(247, 243, 243);
}
.head p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.coins{

    background-color: rgb(247, 243, 243);
    text-align: center;
    /* display: flex; */
    

}
.searchDetail{
    display: flex;
}
#coinsCardssss{
    display: flex;
    gap: 1rem;
    animation: 3s linear 1s infinite running slidein;
    /* animation: slide 20s linear infinite; */
}
 @keyframes slide{
    0% {
        right : 0px;
    }
    100%{
        right : 100%;
    }
 }
.coinsCards{
    display: flex;
    /* border: 2px solid black; */
    width: 150vw;
    height: 10rem;
    margin: 20px;
    background-color: rgb(234, 216, 234);
    border-radius: 5px;
    
    
}
.coinsCards .img{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.coinsCards p{
    font-size:22px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
}
.gitlogo{
    width: 100px;
    height: 50px;
   
}